body{
  font-family: "Lato", $font-family-sans-serif;
  line-height: 1.5;
}
a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
code{
  font-family: "Roboto Mono", $font-family-sans-serif;
  color: $success;
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(https://example.com/material-symbols.woff) format('woff');
}

.fill-icon{
  font-variation-settings: 'FILL' 1;
}