.sidebar.navbar{
  width: 296px;
  .nav-link {
    color: $gray-900;
    padding-left: 32px;
    &:hover{
      border-left: 4px solid $green;
      color: $green;
      padding-left: 28px;
    }
    &:focus{
      border-left: 4px solid $green;
      color: $green;
      padding-left: 28px;
    }
  }
}
.sidebar .nav-link.active, .sidebar .nav-link.show {
  border-left: 4px solid $green;
  color: $green;
  padding-left: 28px;
}
.mail-fz{
  font-size: 14px;
}