.header{
  margin-bottom: 12px;
  .nav-title{
    color: $gray-900;
    margin-right: 50px;
  }
}

.header .dropdown-toggle::after,
.chat-card-nav .dropdown-toggle::after,
.chat-card-header-dropdowm .dropdown-toggle::after{
  display: none;
}
.text-small{
  font-size: 12px;
}

.chat-card-tab-container{
  max-width: 320px;
}
.chat-card-tab{
  border-radius: 2px;
  .title{
    font-size: 16px;
    width: 55%;
  }
  .list-group-item{
    padding: 12px;
    border-color: $gray-400;
    &.active {
      color: $gray-900;
      background-color: $gray-100;
      border-color: $gray-400;
    }
  }
}

.chat-card-container{
  width: 100%
}
.chat-card{
  border-color: $gray-400;
  border-radius: 2px;
}
.chat-content{
  font-size: 14px;
}
.download-btn{
  background-color: $gray-100;
  border: 1px solid $gray-400;
  border-radius: 2px;
  font-weight: bold;
}

.chat-card-pages .page-link{
  padding: 0;
  border: 0;
  color: $gray-900;
  margin-right: 23px;
}

.chat-card-btn{
  padding: 8px 32px;
  border-radius: 2px;
}

.chat-card-collapse{
  height: 319px;
}
.chat-card-collapse-btns{
  padding: 16px 24px;
}
.chat-card-collapse-textarea{
  padding: 16px 24px;
  border: 0;
  border-radius: 0;
  &:focus{
    box-shadow: none;
  }
  &::placeholder{
    color: $gray-400;
  }
}

// 狀態
.header .nav-link,
.chat-card-nav .nav-link,
.main-gray-link-hover,
.chat-card-icon-edit,
.chat-card-collapse .nav-link{
  color: $gray-900;
  &:hover{
    opacity: 0.8;
  }
}
.chat-card-icon-grade:hover{
  opacity: 0.8;
  font-variation-settings: 'FILL' 1;
}